<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nano.pow.server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/esteban/Desktop/nano-pow-server/build/nano_pow_server</string>
        <string>--config</string>
        <string>server.log_to_stderr=true</string>
        <string>--config</string>
        <string>device.type="cpu"</string>
        <string>--config</string>
        <string>device.threads=8</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/esteban/Desktop/nano-pow-server</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/esteban/Desktop/nano-pow-server/logs/nano_pow_server.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/esteban/Desktop/nano-pow-server/logs/nano_pow_server.err.log</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
