<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nanopow.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/esteban/Desktop/nano-pow-server/lib/m3-nano-pow/.build/release/NanoPoW</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/esteban/Library/Logs/nanopow.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/esteban/Library/Logs/nanopow.error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/esteban/Desktop/nano-pow-server/lib/m3-nano-pow</string>
</dict>
</plist>
